node_modules
.pnpm-store
.DS_Store

# build outputs
dist
.next
out
coverage

# env
.env
.env.*.local
/generated/prisma

# uploaded media
uploads/

# turbo cache
.turbo/

# TypeScript build artifacts
tsconfig.build.tsbuildinfo
apps/api/prisma/*.js
apps/api/prisma/*.js.map
apps/api/prisma/*.d.ts
